.description-container{
    display:flex;
    flex-direction: column;

    padding:15px;
    margin: 10px;
    width:100%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.description-container .title-dates{
    display:flex;
    justify-content: space-between;
}
.description-container h1{
    font-size: 1.5em;
    margin:4px 0;
}
.description-container h2{
    font-size: 1.3em;
    font-weight: 100;
    margin:4px 0;
}
.description-container h3{
    margin:7px 0;
    font-weight: 100;
}
.description-container ul{
    margin:7px 0;
}
.description-container ul li{
    margin:3px 0;
}