.container{
    display:flex;
    flex-direction: column;

    padding:15px;
    width:100%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.title-dates{
    display:flex;
    justify-content: space-between;
}