.hero h1{
  font-size:4em;
  margin:0px;
}
.hero h2{
  font-size:2em;
  font-weight: 400;
}
nav ul{
  margin:0px;
}
nav ul li{
  list-style:none;
}
nav{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width:100%;
  padding:20px;
}
.github{
  width:60px;
}
.hero{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;

  height: 90vh;

  color:white;
  font-family: 'Century Gothic', sans-serif;
}
.titles{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.down-chevron{
  width:40px;
  padding-bottom: 5vh;
}
.content{
  display: flex;
  justify-content: center;
}
.descriptions{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  
  border-top-style: solid;
  border-top-color: white;
}
.section-title{
  align-self:flex-start;
  margin:20px 0;

  color:white;
  text-decoration: underline;
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.5em;
}
